* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato, Roboto, sans-serif;
    font-size: 16px;
    background-color: f5f8fa;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background-color: #133462;
}

header h2 {
    font-size: 1.5rem;
    color: #fff;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    margin-right: 1rem;
    color: #fff;
}

.main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 6rem;
    background-color: #133462;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    margin: 4rem;
    padding: 2rem;
    color: #fff;
}

.main-container h1 {
    font-size: 3rem;
    padding: 0.5rem;
}

.main-container p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.sea-landscape {
    width: 500px;
}

.main-container .btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: #1e5098;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
}

.main-container .btn:hover {
    background-color: #0056b3;
}

.main-container .sea-landscape img {
    width: 100%;
    height: auto;
}

.recipes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem;
    padding: 2rem;
}

.recipes-title h3 {
    font-size: 2rem;
    padding: 0.5rem;
}

.recipes-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 1rem;
    padding: 3rem;
}

.recipes-options img {
    width: 300px;
    margin-bottom: 1rem;
}

.recipes-options a {
    padding: 2rem;
    text-align: center;
    text-decoration: none;
    color: #1e5098;
}

.recipes-options a:hover {
    color: #0056b3;
}

.salmon-ceviche {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    text-align: center;
}

.white-ceviche {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    text-align: center;
}

.shellfish-ceviche {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    text-align: center;
}

.quote {
    padding: 8rem 12rem 8rem 12rem;
    background-color: #e5e7eb;
}

.quote-content {
    font-size: 2rem;
    font-style: italic;
    font-weight: normal;
    color: #000;
}

.author {
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: right;
    margin-left: 4rem;
}

.information {
    padding: 8rem;
}

.paragraph {
    display: flex;
    flex: rox;
    justify-content: space-around;
    align-items: center;
    padding: 4rem;
    background-color: #1e5098;
    border-radius: 10px;
}

.question {
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
}

.phrase {
    color: #fff;
    font-weight: normal;
    font-size: 1rem;
}

.signup .btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    width: 100px;
    background-color: #1e5098;
    border: 1px solid #fff;
}

footer {
    background-color: #0c203c;
    color: #fff;
    font: 1.2rem;
    text-align: center;
    padding: 1rem 0;
}
